body {
    color: rgb(77, 116, 156);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333333 ;
    margin: 0;
    padding: 0;
}
#cabecera {
    background: rgb(46, 84, 116);
    color: rgb(212, 211, 211);
    box-shadow: 0px 2px 10px 0px rgb(41, 48, 54);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline {
    margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #dddddd;
    margin: 0 auto;
}
#container h1 {
    font-size: 20px;

}
#post {
    padding: 1em;
}